
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans bold';
    src: url('fonts/OpenSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans semibold';
    src: url('fonts/OpenSans-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

/* CSS Document */
/*------------------------------------*\
RESET
\*------------------------------------*/
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,samp,
small,strike,strong,sub,sup,tt,var,
b,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
section, article, aside, footer, header, hgroup, nav, .h6, .h5, .h4, .h3, .h2, .h1{
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
}
body{
line-height:1;
}
ol,ul{
list-style:none;
}
blockquote,q{
quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
content:'';
content:none;
}

ins{
text-decoration:none;
}
del{
text-decoration:line-through;
}
button, html [type="button"], [type="reset"], [type="submit"]{
-webkit-appearance: none; 
}
table{
border-collapse:collapse;
border-spacing:0;
}
a {
    transition: .2s ease-in-out;
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
}
strong{
    font-weight: bold;
}
b{
    font-weight: bold;
}
i{
    font-style: italic;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
button:focus {outline:none;}
input:focus, input[type="checkbox"]:focus {outline:none;}
textarea:focus {outline:none;}
select:focus {outline:none;}
body{
    font-family: "OpenSans";
    font-size: 16px;
    line-height: 1;
    position: relative;
    color: #292626;    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}
.box_container{
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.23));
-webkit-filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.23));
-moz-filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.23));
}
.btn_shadow{
     filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.23));
-webkit-filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.23));
-moz-filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.23));
}
.btn{
    display: inline-block;
    line-height: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "OpenSans bold";
    text-align: center;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background: #e94044;
    -webkit-clip-path: polygon(6% 100%, 0 81%, 0 18%, 6% 0, 94% 0, 100% 19%, 100% 81%, 94% 100%);
    clip-path: polygon(6% 100%, 0 81%, 0 19%, 6% 0, 94% 0, 100% 20%, 100% 81%, 94% 100%);
}
.btn a{
    display: block;
}
.btn.long{
   -webkit-clip-path: polygon(2% 100%, 0 85%, 0 15%, 2% 0, 98% 0, 100% 15%, 100% 85%, 98% 100%);
    clip-path: polygon(2% 100%, 0 85%, 0 15%, 2% 0, 98% 0, 100% 15%, 100% 85%, 98% 100%); 
}
h1{
    font-family: "Quicksand";
    font-size: 42px;
    text-align: center;
    line-height: 1.3;
    color: #fff;
}
h4{
    font-family: "Quicksand";
    font-size: 44px;
    color: #262626;
    text-align: center;
}
h5{
    text-align: center;
    color: #666;
}
.header{

}
.header .container{
    max-width: 1200px;
}
.header .logo{
    max-width: 100px;
    margin-top: 10px;
}

.header ul.main_nav li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px;
    font-family: "Quicksand";
    font-size: 16px;
    line-height: 56px;
}
.header ul.main_nav li:hover{
    color: #ff0029;
}
.header ul.main_nav li:first-of-type{
    margin-left: 0;
}
.header ul.main_nav li:last-of-type{
    margin-right: 0;
}
.header .btn{
    width: 100%;
    max-width: 96px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
    margin-top: 10px;
}
.mob_nav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    z-index: 10;
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.23));
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.23));
    -moz-filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.23));
}
.mob_nav .content{
    padding: 45px 20px;
    -webkit-clip-path: polygon(0 100%, 0 81%, 0 18%, 0 0, 100% 0, 100% 20%, 100% 90%, 94% 100%);
    clip-path: polygon(0 100%, 0 81%, 0 18%, 0 0, 100% 0, 100% 20%, 100% 90%, 94% 100%);
}
.mob_nav .content ul{
    text-align: center;
}
.mob_nav .content ul li{
    margin-bottom: 24px;
}
.mob_nav .content ul li.active{
    color: #e94044;
}
.mob_nav .content .close_icon{
    position: absolute;
    top: 12px;
    right: 12px;
}
@media (max-width: 1060px){
    .header ul.main_nav li{
        margin: 0 20px;
    }
}
@media (max-width: 991px){
    .header ul.main_nav li{
        margin: 0 15px;
    }
    .header .logo{
        margin-bottom: 10px;
    }
    .header .mob_menu_icon{
        margin-top: 20px;
    }
}
@media (max-width: 768px){
    h1{
        font-size: 28px;
    }
    h4{
        font-size: 36px;
        line-height: 1.3;
    }
    .btn{
        padding-top: 13px;
        padding-bottom: 13px;
    }
}

/* sign in */
.popup_container{
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,0.9);
    z-index: 11;
    overflow-y: scroll;
}
.popup_container.admin_page .input_container,
.popup_container .input_container,
.popup_container.admin_page .select_container,
.popup_container .select_container{
    margin: 0 auto 35px;
}
.popup_container .box_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 400px;
}
.popup_container .box{
    
    background: #fff;
    padding: 40px 65px;
    -webkit-clip-path: polygon(2% 0, 98% 0, 100% 2%, 100% 98%, 98% 100%, 2% 100%, 0 98%, 0 2%);
    clip-path: polygon(2% 0, 98% 0, 100% 2%, 100% 98%, 98% 100%, 2% 100%, 0 98%, 0 2%);
}
.popup_container .box h4{
    font-family: "Quicksand";
    font-size: 42px;
    text-align: center;
    color: #222;
    margin-bottom: 25px;
}
.popup_container .box p.new_user{
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}
.popup_container .box p.new_user a{
    color: #e94044;
}
.popup_container .box p.forgot_pass{
    text-align: center;
}
.popup_container .box p.forgot_pass a{
    color: #e94044;
}

.popup_container .box .input_container{
    margin-bottom: 35px;
}
.popup_container .box .btn{
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 15px;
}
.popup_container .box .close_icon{
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.popup_container.new_user_checkout h4{
    margin-bottom: 35px;
} 
.popup_container.new_user_checkout .continue{
    padding: 15px 10px;
    background: #f6f6f6;
    text-align: center;
    font-family: "Quicksand";
    color: #e94044;
    margin-bottom: 18px;
}
.popup_container.new_user_checkout .continue img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
}
.popup_container.new_user_checkout p.or{
    font-family: "Quicksand";
    text-align: center;
    margin-bottom: 20px;
}
.popup_container.new_user_checkout h6{
    font-family: "Quicksand";
    font-size: 21px;
    text-align: center;
    margin-bottom: 10px;
}
.popup_container.new_user_checkout p.terms,
.popup_container.create_account p.terms{
    font-size: 12px;
    color: #a0a0a0;
    text-align: center;
    margin-bottom: 15px;
} 
.popup_container.new_user_checkout p.terms a,
.popup_container.create_account p.terms a{
    color: #ec3e3f;
}

@media(max-width: 767px){
    .popup_container .box_container{
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: none;
        filter: none;
        margin: 0 auto;
    }
    .popup_container .box{
        padding: 60px 25px;
        -webkit-clip-path: polygon(0% 0, 100% 0, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0 100%, 0 0%);
        clip-path: polygon(0% 0, 100% 0, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0 100%, 0 0%);
    }
    .popup_container .box .close_icon{
        display: block;
    }
}

/* checkout guest*/
/* main page */
.main_page .top_poster{
    padding-top: 85px;
    padding-bottom: 85px;
    background: url(../img/top_poster.jpg) center;
    background-size: cover;
}
.main_page .top_poster .box{
    padding: 40px;
    background: #fff;
    max-width: 470px;
    -webkit-clip-path: polygon(95% 0, 100% 8%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(95% 0, 100% 8%, 100% 100%, 0 100%, 0 0);
}
.main_page .top_poster .box h1{
    font-family: "Quicksand";
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #222;
    text-align: left;
}
.main_page .top_poster .box h3{
    color: #666;
    line-height: 1.5;
    margin-bottom: 25px;
}
.main_page .top_poster .box .btn{
    width: 165px; 
}

.main_page .how_works{
    padding-top: 40px;
    margin-bottom: 25px;
}
.main_page .how_works h4{
    margin-bottom: 15px;
}
.main_page .how_works h5{
    margin-bottom: 40px;
    line-height: 1.3;
}
.main_page .how_works .col-sm-4{
    padding-left: 12px;
    padding-right: 12px;
}
.main_page .how_works .box{
    width: 100%;
    -webkit-clip-path: polygon(2% 0, 98% 0, 100% 7%, 100% 93%, 98% 100%, 2% 100%, 0 93%, 0 7%);
    clip-path: polygon(2% 0, 98% 0, 100% 7%, 100% 93%, 98% 100%, 2% 100%, 0 93%, 0 7%);
    background: #ffe6eb;
    text-align: center;
    padding-top: 19px;
    margin-bottom: 15px;
}
.main_page .how_works p{
    display: block;
    max-width: 190px;
    margin: 0 auto;
    font-family: "OpenSans semibold";
    line-height:  1.5;
    text-align: center;
}

.main_page .why_us{
    padding-top: 110px;
    background: url(../img/top_poster.jpg);
    background-size: cover;
}
.main_page .why_us h4{
    color: #fff;
    margin-bottom: 80px;
}
.main_page .why_us .feature_box{
    position: relative;
    width: 225px;
    height: 155px;
    margin: 0 auto -30px;
    background: #fff;
}
.main_page .why_us .feature_box p{
    position: absolute;
    top: 50%;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    transform: translate(0,-50%);
    font-family: "OpenSans bold";
    font-size: 24px;
    line-height: 1.3;
}


.main_page .reviews{
    padding-top: 85px;
    padding-bottom: 55px;
    background: #05b2d6;
} 
.main_page .reviews h4{
    color: #fff;
    margin-bottom: 40px;
}
.main_page .reviews .box{
    width: 300px;
    height: 240px;
    margin: 0 auto;
    padding: 30px 15px 40px 15px;
    background: url(../img/quote.png) no-repeat #fff;
    background-position: right bottom;
    -webkit-clip-path: polygon(0 100%, 0 81%, 0 18%, 0 0, 100% 0, 100% 20%, 100% 90%, 94% 100%);
    clip-path: polygon(0 100%, 0 81%, 0 18%, 0 0, 100% 0, 100% 20%, 100% 90%, 94% 100%);
}
.main_page .reviews .box p.name{
    font-family: "OpenSans semibold";
    font-size: 14px;
    margin-bottom: 15px;
}
.main_page .reviews .box p.name img{
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
}
.main_page .reviews .box p.text{
    font-size: 24px;
    line-height: 1.4;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    top: 90px;
    font-size: 50px;
    color: #ff0029;
}
.owl-carousel .owl-nav button.owl-prev{
    left: -50px;
}
.owl-carousel .owl-nav button.owl-next{
    right: -50px;
}


.main_page .qna{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #f8f8f8;
}

.main_page .qna h4{
    margin-bottom: 40px;
}
.main_page .qna .desktop p.title{
    font-family: "Quicksand";
    font-size: 24px;
    margin-bottom: 25px;
}
.main_page .qna .desktop ul li{
    font-family: "OpenSans semibold";
    font-size: 16px;
    margin-bottom: 20px;
    color: #e94044;
}
.main_page .qna .desktop ul li.show_all{
    font-family: "OpenSans semibold";
    color: #666;
    text-decoration: underline;
}
.main_page .qna .mobile{
    display: none;
}
.main_page .qna .mobile .info_box .title{
    padding: 0 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
.main_page .qna .mobile .info_box .title p{
    display: inline-block;
    vertical-align: middle;
    font-family: "Quicksand";
    line-height: 48px;
}
.main_page .qna .mobile .info_box .title img{
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-top: 20px;
    transform: rotate(180deg);
}
.main_page .qna .mobile .info_box .title img.rotate{
    transform: rotate(0deg);
}
.main_page .qna .mobile .info_box .content{
    display: none;
    padding: 20px 16px;
    box-shadow: inset 1px 0 4px 0 rgba(0, 0, 0, 0.1), inset -1px 0 4px 0 rgba(0, 0, 0, 0.1);
}
.main_page .qna .mobile .info_box .content li{
    color: #e94044;
    margin-bottom: 20px;
}
.main_page .qna .mobile .info_box .content li:last-of-type{
    margin-bottom: 0;
}
.main_page .started{
    padding-top: 40px;
    padding-bottom: 55px;
    background: #f8f8f8;
    text-align: center;
}
.main_page .started h4{
    margin-bottom: 15px;
}
.main_page .started h5{
    margin-bottom: 40px;
}
.main_page .started .btn{
    width: 275px;
    max-width: 100%;
}
@media (max-width: 1200px){
    .main_page .reviews .box{
        width: 280px;
    }
}
@media (max-width: 991px){
    .main_page .why_us .feature_box.box_1, 
    .main_page .why_us .feature_box.box_2{
        margin-bottom: 25px;
    }
}
@media (max-width: 768px){
    .main_page .top_poster{
        padding-left: 0;
        padding-top: 170px;
        padding-bottom: 25px;
        background: url(../img/top_poster_mob.png) center top;
        background-size: cover;
    }
    .main_page .top_poster .container{
        padding-left: 0;
    }
    .main_page .top_poster .box h1{
        font-size: 28px;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    .main_page .top_poster .box h3{
        font-size: 14px;
    }
    .main_page .how_works .box{
        width: 150px;
        margin: 0 auto 15px;
        padding: 25px;
    }
    .main_page .how_works p{
        margin-bottom: 30px;
    }
    .main_page .how_works .col-md-4:last-of-type p{
        margin-bottom: 0;
    }
    .main_page .why_us{
        background: url(../img/why_us_mob.png) center top;
        background-size: cover;
        padding-top: 140px;
    }
    .main_page .why_us h4{
        margin-bottom: 35px;
    }
    .main_page .why_us .feature_box{
        width: 136px;
        height: 120px;
    }
    .main_page .why_us .feature_box p{
        font-size: 16px;
    }
    .main_page .reviews{
        padding-bottom: 75px;
    }
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next{
        bottom: -40px;
        top: auto;
    }
    .owl-carousel .owl-nav button.owl-prev{
        left: 40px;
    }
    .owl-carousel .owl-nav button.owl-next{
        right: 40px;
    }
    .main_page .qna .desktop{
        display: none;
    }
    .main_page .qna .mobile{
        display: block;
    }
    .main_page .qna h4 span{
        font-size: 28px;
    }
}
/* all plans */
.all_plans .top_poster{
    padding-top: 120px;
    padding-bottom: 25px;
    background: url(../img/all_plans_poster.png) center top;
    background-size: cover;
}
.all_plans .top_poster .container{
    max-width: 960px;
}
.all_plans .top_poster h1{
    font-family: "Quicksand";
    font-size: 44px;
    text-align: center;
    color: #fff;
    margin-bottom: 135px;
}
.all_plans .top_poster .box{
    background: #fff;
    max-width: 460px;
    padding: 25px 50px;
    margin-bottom: 30px;
    -webkit-clip-path: polygon(4% 0, 96% 0, 100% 7%, 100% 93%, 97% 100%, 4% 100%, 0 93%, 0 7%);
    clip-path: polygon(4% 0, 96% 0, 100% 7%, 100% 93%, 97% 100%, 4% 100%, 0 93%, 0 7%);
}
.all_plans .top_poster .box h3{
    font-family: "Quicksand";
    font-size: 21px;
    text-align: center;
    color: #666;
    line-height: 1.3;
    margin-bottom: 24px;
}
.all_plans .top_poster .box .price{
    text-align: center;
    margin-bottom: 15px;
}
.all_plans .top_poster .box .price p.number{
    display: inline-block;
    vertical-align: bottom;
    font-family: "Quicksand";
    font-size: 48px;
    margin-right: 3px;
}
.all_plans .top_poster .box .price p.month{
    display: inline-block;
    vertical-align: bottom;
    font-family: "Quicksand";
    line-height: 13px;
}
.all_plans .top_poster .box .price p.month span{
    font-family: "OpenSans";
    font-size: 12px;
    color: #666;
}
.all_plans .top_poster ul{
    height: 80px;
    margin-bottom: 25px;
}
.all_plans .top_poster ul li{
    font-size: 14px;
    color: #666;
    line-height: 1.3;
    margin-bottom: 10px;
    text-align: center;
}
.all_plans .top_poster .btn{
    width: 132px;
    max-width: 100%;
}
.all_plans .top_poster ul li img{
    width: 17px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #1bff43;
}

.all_plans .top_poster p.view_details{
    font-family: "OpenSans semibold";
    color: #e94044;
    margin-top: 10px;
}

@media (max-width: 768px){
    .all_plans .top_poster{
        padding-top: 80px;
        background: url(../img/all_plans_poster.png) no-repeat center top #292626;
        background-size: contain;
    }
    .all_plans .top_poster h1{
        margin-bottom: 80px;
    }
    .all_plans .top_poster .box{
        padding: 25px;
    }
    .all_plans .top_poster ul{
        height: auto;
    }
    .all_plans .top_poster .box .col-6{
        padding-left: 8px;
        padding-right: 8px;
    }
}


/* plan details */
.plan_details .plan_info{
    padding-top: 55px;
    padding-bottom: 55px;
}
.plan_details .plan_info p.all_plans{
    font-family: "OpenSans semibold";
    font-size: 16px;
    color: #e94044;
    text-align: center;
    margin-bottom: 15px;
}
.plan_details .plan_info p.all_plans img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
    margin-bottom: 2px;
}
.plan_details .plan_info h1{
    font-family: "Quicksand";
    font-size: 44px;
    line-height: 1.3;
    margin-bottom: 35px;
    text-align: center;
    color: #666;
}
.plan_details .plan_info .price{
    text-align: center;
    margin-bottom: 40px;
}
.plan_details .plan_info .price p.number{
    display: inline-block;
    vertical-align: bottom;
    font-family: "Quicksand";
    font-size: 64px;
}
.plan_details .plan_info .price p.month{
    font-size: 24px;
    font-family: "Quicksand";
    line-height: 18px;
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    margin-bottom: 3px;
}
.plan_details .plan_info .price p.month span{
    font-size: 16px;
    color: #666;
}
.plan_details .plan_info h3{
    font-family: "Quicksand";
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
.plan_details .plan_info ul{
    max-width: 250px;
    margin: 0 auto;
    padding-left: 25px;
}
.plan_details .plan_info ul li{
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #666;
    line-height: 1.4;
    margin-bottom: 12px;
}
.plan_details .plan_info ul li img{
    position: absolute;
    left: -25px;
    width: 17px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #1bff43;
    top: 0px;
}
.plan_details .plan_info p.disclaimer{
    font-size: 12px;
    color: #666;
    line-height: 1.3;
}
.plan_details .all_plans.similar_plans{
    padding-bottom: 15px;
}
.plan_details .all_plans.similar_plans h4{
    margin-bottom: 25px;
    line-height: 1.2;
}
.plan_details .all_plans.similar_plans .box{
    margin-bottom: 40px;
}
.plan_details .btn{
    display: block;
    width: 250px;
    margin: 0 auto;
}

.plan_details .all_plans.similar_plans .top_poster{
    background: #fff;
    padding-top: 40px;
}

@media (max-width: 768px){
    .plan_details .plan_info h1{
        font-size: 28px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
    .plan_details .plan_info .price p.number{
        font-size: 48px;
    }
    .plan_details .plan_info .price p.month{
        font-size: 16px;
    }
    .plan_details .plan_info .price p.month span{
        font-size: 12px;
    }
    .plan_details .btn.get_plan{
        margin-bottom: 40px;
    }
}

/* your cart */
.your_cart .top_block{
    padding-top: 50px;
    padding-bottom: 140px;
}
.your_cart .top_block h1{
    font-family: 'Quicksand';
    font-size: 44px;
    text-align: center;
    margin-bottom: 15px;
    color: #292929;
}
.your_cart .top_block h3{
    font-size: 16px;
    text-align: center;
    color: #666;
}
.your_cart .item_list .box{
    -webkit-clip-path: polygon(3% 0, 97% 0, 100% 7%, 100% 93%, 97% 100%, 3% 100%, 0 93%, 0 7%);
    clip-path: polygon(3% 0, 97% 0, 100% 7%, 100% 93%, 97% 100%, 3% 100%, 0 93%, 0 7%);
    background: #fff;
}
.your_cart .items{
    background: #05b2d6;
    padding-bottom: 90px;
}
.your_cart .items .box_container{
    margin-top: -90px;
}
.your_cart .item{
    padding: 20px;
    border: solid 1px #cfcfcf; 
}
.your_cart .item p.title{
    font-family: "Quicksand";
    line-height: 1.4;
    margin-bottom: 10px;
}
.your_cart .item ul{
    padding-left: 15px;
}
.your_cart .item ul li{
    font-size: 12px;
    margin-bottom: 10px;
    list-style: disc outside;
    color: #666;
}
.your_cart .item ul li:last-of-type{
    margin-bottom: 0;
}
.your_cart .item ul li b{
    font-family: "OpenSans bold";
}
.your_cart .item select{
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 15px 10px;
    border-radius: 6px;
    border: solid 2px #cfcfcf;
    font-family: "OpenSans semibold";
    font-size: 16px;
}
.your_cart .item .select_container{
    position: relative;
    margin-top: 30px;
}
.your_cart .item .select_container img{
    position: absolute;
    top: 22px;
    right: 12px;
}
.your_cart .item .select_container span{
    display: block;
    padding: 1px 5px;
    font-size: 12px;
    color: #666;
    position: absolute;
    top: -7px;
    left: 50%;
    background: #fff;
    transform: translate(-50%,0);
}
.your_cart .item p.price{
   color: #e94044;
   text-align: center;
   margin-top: 45px;
}
.your_cart .item p.remove{
    font-family: "OpenSans semibold";
    color: #6a6a6a;
    text-align: center;
    margin-top: 45px;
    cursor: pointer;
}
.your_cart .box.summary{
    -webkit-clip-path: polygon(6% 0, 94% 0, 100% 6%, 100% 94%, 94% 100%, 6% 100%, 0 94%, 0 6%);
    clip-path: polygon(6% 0, 94% 0, 100% 6%, 100% 94%, 94% 100%, 6% 100%, 0 94%, 0 6%);
    background: #fff;
}
.your_cart .box.summary p.order{
    font-family: "Quicksand";
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.your_cart .box.summary .componets{
    padding: 18px;
    border-top: solid 1px #cfcfcf; 
    border-bottom: solid 1px #cfcfcf; 
}
.your_cart .box.summary ul li{
    font-family: "Quicksand";
    margin-bottom: 15px;
}
.your_cart .box.summary ul li:last-of-type{
    margin-bottom: 0;
}
.your_cart .box.summary ul li span{
    float: right;
    color: #e94044;
}
.your_cart .box.summary .total{
    padding: 16px;
}
.your_cart .box.summary .total ul li{
    margin-bottom: 20px;
}
.your_cart .box.summary .total .btn{
    display: block;
    margin: 0 auto;
    width: 240px;
    max-width: 100%;
}


/* coverage */
.coverage .top_poster{
    padding-top: 125px;
    padding-bottom: 90px;
    background: url(../img/coverage_poster.png) center;
    background-size: cover;
}
.coverage .top_poster .box{
    padding: 35px 45px 40px 45px;
    background: #fff;
    max-width: 470px;
    -webkit-clip-path: polygon(0 0, 94% 0, 100% 12%, 100% 93%, 100% 100%, 0 100%, 0 93%, 0 25%);
    clip-path: polygon(0 0, 94% 0, 100% 12%, 100% 93%, 100% 100%, 0 100%, 0 93%, 0 25%);
}
.coverage .top_poster .box h1{
    font-family: "Quicksand";
    font-size: 42px;
    line-height: 1.3;
    color: #222;
    margin-bottom: 45px;
}
.coverage .top_poster .box h1 span{
    color: #ff0029;
}
.coverage .top_poster .box .btn{
    width: 225px;
}

.coverage .g3{
    padding-top: 40px;
    padding-bottom: 55px;
    background: #f5fbf5;
}
.coverage .g3 h4{
    margin-bottom: 25px;
}
.coverage .g3 p{
    display: block;
    margin: 0 auto;
    max-width: 640px;
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    text-align: center;
}
.coverage .questions{
    padding-top: 40px;
    padding-bottom: 50px;
}
.coverage .questions h4{
    margin-bottom: 75px;
}
.coverage .questions .info{
    padding: 22px 0;
    border-bottom: solid 1px #e0e0e0;
}
.coverage .questions .info .title{
    position: relative;
}
.coverage .questions .info .title p{
    font-family: "Quicksand";
    font-size: 18px;
    line-height: 1.2;
    cursor: pointer;
}
.coverage .questions .info .title img.arrow{
    position: absolute;
    top: 12px;
    right: 5px;
    cursor: pointer;
}
.coverage .questions .info .title img.arrow.rotate{
    transform: rotate(180deg);
}
.coverage .questions .info .content{
    padding-top: 15px;
    display: none;
}
.coverage .questions .info .content p{
    line-height: 1.4;
    color: #666;
}

.coverage p.not_see{
    font-size: 18px;
    color: #666;
    margin-top: 45px;
}
.coverage p.not_see a{
    color: #e94044;
}

@media(max-width: 767px){
    .coverage .top_poster{
        padding-top: 165px;
        padding-bottom: 35px;
        background: url(../img/cover_poster_mob.png) center;
        background-size: cover;
        padding-left: 0;
    }
    .coverage .top_poster .container{
        padding-left: 0;
    }
    .coverage .top_poster .box h1{
        font-size: 32px;
        margin-bottom: 25px;
    }
    .coverage .questions h4{
        line-height: 1.2;
        margin-bottom:50px;
    }
    .coverage .questions .info{
        padding: 0;
        border-bottom: none;
    }
    .coverage .questions .info .title{
        padding: 12px 40px 12px 16px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    }
    .coverage .questions .info .content{
        padding: 15px;
        background: #fefbfb;
        box-shadow: inset 1px 0 4px 0 rgba(0, 0, 0, 0.1), inset -1px 0 4px 0 rgba(0, 0, 0, 0.1);
    }
    .coverage p.not_see{
        line-height: 1.4;
        text-align: center;
        margin-top: 20px;
    }
    .coverage .questions .info .title img.arrow{
            top: 20px;
             right: 13px;
    }
}

/* support */
.support .help{
    padding-top: 120px;
    padding-bottom: 120px;
    background: #0073ca;
}
.support .help h1{
    font-family: "Quicksand";
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 35px;
    text-align: center;
    color: #fff;
}
.support .help .box{
    position: relative;
    width: 560px;
    display: block;
    background: #fff;
    margin: 0 auto 28px;
    padding-left: 45px;
    -webkit-clip-path: polygon(1% 0, 99% 0, 100% 14%, 100% 86%, 99% 100%, 1% 100%, 0 85%, 0 16%);
    clip-path: polygon(1% 0, 99% 0, 100% 14%, 100% 86%, 99% 100%, 1% 100%, 0 85%, 0 16%);
}
.support .help .box img{
    position: absolute;
    top: 18px;
    left: 11px;
}
.support .help .box input{
    border: none;
    line-height: 52px;
    width: 100%;
    font-family: "Quicksand";
    color: #666;
}
.support .help ul.popular_searches{
    text-align: center;
}
.support .help ul.popular_searches li{
    display: inline-block;
    vertical-align: top;
    margin: 0 6px;

    color: rgba(255,255,255,0.65);
}
.support .help ul.popular_searches li a{
    color: #fff;
    border-bottom: 1px solid #fff;
}

@media (max-width: 767px){
    .support .help h1{
        font-size: 28px;
    }
    .support .help .box{
        width: 100%;
    }
    .support .help ul.popular_searches li{
        display: block;
        text-align: left;
        margin-bottom: 20px;
    }
    .support .help ul.popular_searches li:last-of-type{
        margin-bottom: 0;
    }
    .support .help{
        padding-bottom: 40px;
    }
}

/* blog page */
.blog .top_poster{
    padding-top: 95px;
    padding-bottom: 180px;
    background: #fba313;
}
.blog .posts{
    padding-bottom: 55px;
}
.blog .posts .container{
    max-width: 870px;
}
.blog .posts h2{
    font-family: "Quicksand";
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 10px;
}
.blog .posts h3{
    font-family: "Quicksand";
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 10px;
}
.blog .posts p{
    font-size: 16px;
    line-height: 1.3;
    color: #666;
    margin-bottom: 18px;
}
.blog .posts .info{
    font-size: 14px;
    color: #767676;
    margin-bottom: 55px;
}
.blog .posts .info span{
    padding: 0 8px;
}
.blog .posts .info span:first-of-type{
    padding-left: 0;
}
.blog .posts .post.featured img{
    margin-top: -100px;
    margin-bottom: 25px;
}

.blog .posts .load_more{
    display: block;
    margin: 0 auto;
    width: 225px;
    max-width: 100%;
}

@media (max-width: 767px){
    .blog .top_poster{
        padding-top: 65px;
        padding-bottom: 120px;
    }
     .blog .top_poster h1{
        font-size: 36px;
     }
    .blog .top_poster .container{
        padding-left: 0;
        padding-right: 0;
    }
    .blog .posts .container{
        padding-left: 0;
        padding-right: 0;
    }
    .blog .posts .post.featured img{
        margin-top: -70px;
    }
    .blog .posts p{
        height: 43px;
        overflow: hidden;
    }
}

/* blog post */
.blog_post{
    padding-top: 65px;
}
.blog_post .admin_page{
    padding: 0;
}
.blog_post .post h1{
    font-size: 42px;
    text-align: center;
    line-height: 1.3;
    color: #2f2f2f;
    margin-bottom: 20px;
    max-width: 600px;
    display: block;
    margin: 0 auto 20px;
}
.blog_post .post p.date{
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 45px;
}
.blog_post .post p.date span{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    font-size: 12px;
}
.blog_post .post .featured_img{
    display: block;
    margin: 0 auto 45px;
}
.blog_post .post .container{
    max-width: 960px;
}
.blog_post .post .content{
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 70px;
}
.blog_post .post .content p{
    line-height: 1.4;
    color: #666;
    margin-bottom: 30px;
}
.blog_post .post .content img{
    margin-bottom: 35px;
}
.blog_post .post .content .quote{
    padding-top: 5px;
    padding-bottom: 25px;
    max-width: 430px;
    margin: 0 auto;
}
.blog_post .post .content .quote img{
    display: block;
    margin: 0 auto 20px;
}
.blog_post .post .content .quote p{
    font-family: "Quicksand";
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 10px;
}
.blog_post .post .content h3{
    font-family: "Quicksand";
    font-size: 18px;
    color: #292929;
    margin-bottom: 15px; 
}
.blog_post .post .content .share{
    margin-top: 40px;
}
.blog_post .post .content .share p{
    display: inline-block;
    vertical-align: middle;
    color: #666;
    margin-right: 20px; 
}
.blog_post .post .content .share img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px; 
}

.blog_post .read_next{
    padding-top: 35px;
    padding-bottom: 55px;
    background: #f8f8f8;
}
.blog_post .read_next h5{
    font-family: "Quicksand";
    font-size: 16px;
    color: #666;
    margin-bottom: 22px;
    text-align: left;
}
.blog_post .read_next .article{
    padding-right: 10px;
}
.blog_post .read_next .article a{
    display: block;
}
.blog_post .read_next .article h4{
    font-family: "Quicksand";
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 6px;
}
.blog_post .read_next .article p{
    font-size: 14px;
    color: #666;
    line-height: 1.3;
    margin-bottom: 10px;
    height: 40px;
    overflow-y: hidden;
}
.blog_post .read_next .article p.date span{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    font-size: 10px;
}
@media (max-width: 767px){
    .blog_post{
        padding-top: 35px;
    }
    .blog_post .post{
        padding-left: 0;
        padding-right: 0;
    }
    .blog_post .post .container{
        padding-left: 0;
        padding-right: 0;
    }
    .blog_post .post h1{
        font-size: 36px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .blog_post .post .featured_img{
        margin-bottom: 20px;
    }
    .blog_post .post .content{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 50px;
    }
}
/* terms */
.terms .top_poster{
    padding-top: 140px;
    padding-bottom: 140px;
    background: #5bd9c8;
}
.terms .content{
    padding-top:35px;
    padding-bottom: 45px;
}
.terms .content .section{
    margin-bottom: 35px;
}
.terms .content .section h2{
    font-family: "Quicksand";
    font-size: 24px;
    text-align: left;
    margin-bottom: 10px;
}
.terms .content .section p{
    color: #666;
    margin-bottom: 15px;
    line-height: 1.5;
}
.terms .content .section ul{
    margin-bottom: 15px;
}
.terms .content .section ul li{
    list-style: disc outside;
    color: #666;
    line-height: 1.5;
    margin-left: 20px;
    margin-bottom: 10px;
}
.terms .content .section a{
    color: #e94044;
}

@media (max-width: 767px){
    .terms h1{
        font-size: 36px;
    }
    .terms .top_poster{
        padding-top: 65px;
        padding-bottom: 65px;
    }
}
/* about us */
.about_us .coverage .top_poster{
    background: url(../img/about_us.png);
}
.about_us .coverage .top_poster .box h1{
    text-align: left;
    margin-bottom: 10px;
}
.about_us .coverage .top_poster p{
    color: #666;
    line-height: 1.5;
}
.about_us .coverage .content{
    padding-top: 40px;
    padding-bottom: 55px;
}
.about_us .coverage .content h2{
    font-family: "Quicksand";
    font-size: 44px;
    text-align: center; 
    margin-top: 35px;
    margin-bottom: 25px;
}
.about_us .coverage .content p{
    line-height: 1.5;
    color: #666;
    margin-bottom: 15px;
}

@media(max-width: 767px){
    .about_us .coverage .top_poster{
        background: url(../img/about_us_mob.png);
    }
    .about_us .coverage .top_poster .box{
        padding:25px 30px 30px 35px; 
    }
    
    .about_us .coverage .top_poster h1{
        font-size: 36px;
    }
    .about_us .coverage .content h2{
        font-size: 36px;
    }
}
/* sim activated */
.sim_activated .main_page .how_works{
    padding-top: 150px;
}
.sim_activated .main_page .how_works .box img{
    margin-bottom: -1px;
}
/* .sim_activated .container{
    max-width: 410px;
} */
.sim_activated .top_poster{
    padding-top: 10px;
}
.main_page .how_works{
    margin-bottom: 0;
    padding-bottom: 40px;
}
.sim_activated .top_poster h1{
    font-family: "Quicksand";
    font-size: 44px;
    color: #292929;
    margin-bottom: 15px;
}
.sim_activated .main_page .how_works .box{
    max-width: 300px;
    display: block;
    margin: 0 auto 15px;
}
.sim_activated .main_page .how_works .box img{
    margin-bottom: -2px;
}
.sim_activated .top_poster h4{
    font-family: "OpenSans";
    font-size: 16px;
    color: #666;
    line-height: 1.4;
    margin-bottom: 32px;
    text-align: center;
}
.sim_activated .top_poster .btn{
    display: block;
    width: 275px;
    max-width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0 auto;
}
@media (max-width: 767px){
    .sim_activated .top_poster h1{
        font-size: 36px;
    }
    .sim_activated .main_page .how_works{
        padding-top: 40px;
    }
    .sim_activated .main_page .how_works .box{
        padding: 0;
        padding-top: 25px;
    }
    .sim_activated .main_page .how_works .box img{
        margin-bottom: -3px;
    }
    .sim_activated .top_poster h4{
        margin-bottom: 40px;
    }
}

/* admin pages */

/* billing */
.admin_page{
    padding-top: 25px;
    padding-bottom: 60px;
}
.admin_page p.all_plans{
    font-family: "OpenSans semibold";
    font-size: 16px;
    color: #e94044;
    text-align: center; 
    margin-bottom: 20px;
}
.admin_page p.all_plans img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
    margin-bottom: 2px;
}
.admin_page h1{
    font-size: 44px;
    color: #292929;
    margin-bottom: 10px;
}
.admin_page p.underheader{
    font-size: 16px;
    text-align: center;
    color: #666;
    margin-bottom: 25px;
}
.admin_page p.underheader_2{
    font-family: "Quicksand";
    text-align: center;
    margin-bottom: 25px;
}
.admin_page .input_container{
    margin-bottom: 5px;
}
.admin_page .input_container label{
    position: relative;
    font-family: "Quicksand";
}
.admin_page .input_container label.radio:before{
    position: absolute;
    content: "";
    left: -30px;
    top: -2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #292626;
}
.admin_page .input_container label.checkbox:before{
    position: absolute;
    content: "";
    left: -30px;
    top: -2px;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 2px solid #292626;
}
.admin_page input[type=radio],
.admin_page input[type=checkbox]{
    display: none;
}
.admin_page input[type=radio]:checked + label:before{
    content: "\2022";
    font-size: 35px;
    color: #292626;
    text-align: center;
    line-height: 14px;
}
.admin_page input[type=checkbox]:checked + label:before{
    content: "\2714";
    font-size: 12px;
    color: #fff;
    background: #292626;
    text-align: center;
    line-height: 14px;
}
.admin_page select,
.admin_page input[type="text"],
.admin_page input[type="email"],
.admin_page input[type="password"],
.admin_page input[type="number"]{
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 15px 10px;
    border-radius: 6px;
    border: solid 2px #cfcfcf;
    font-family: "OpenSans semibold";
    font-size: 16px;
}
.admin_page .select_container,
.admin_page .input_container {
    position: relative;
    max-width: 265px;
}
.admin_page .select_container img,
.admin_page .input_container img{
    position: absolute;
    top: 22px;
    right: 12px;
}
.admin_page .select_container span,
.admin_page .input_container span{
    display: block;
    padding: 1px 5px;
    font-size: 12px;
    color: #666;
    position: absolute;
    top: -7px;
    left: 8px;
    background: #fff;
}

.admin_page.shipping .container,
.admin_page.billing .container{
    max-width: 610px;
}

.admin_page.shipping .select_container,
.admin_page.shipping .input_container,
.admin_page.billing .select_container,
.admin_page.billing .input_container{
    margin-bottom: 30px;
}
.admin_page.shipping ul,
.admin_page.billing ul{
    margin-bottom: 30px;
}
.admin_page.shipping ul li,
.admin_page.billing ul li{
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}
.admin_page.shipping ul li a,
.admin_page.billing ul li a{
    color: #e94044;
}
.admin_page.shipping .line,
.admin_page.billing .line{
    width: 100%;
    height: 2px;
    background: #cfcfcf;
    margin-bottom: 25px;
}

.admin_page.shipping .underform .input_container,
.admin_page.billing .underform .input_container{
    margin: 0 auto 30px;
} 
.admin_page.shipping .underform .btn,
.admin_page.billing .underform .btn{
    width: 290px;
    max-width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}
.admin_page.shipping .underform p.underheader_2,
.admin_page.billing .underform p.underheader_2{
    margin-bottom: 15px;
}
.admin_page.shipping .underform .input_container,
.admin_page.billing .underform .input_container{
    margin-bottom: 30px;
}
.admin_page.shipping .new_shipping,
.admin_page.billing .new_shipping{
    display: none;
}
@media (max-width: 767px){
    .admin_page h1{
        font-size: 36px;
    }
    .admin_page .input_container,
    .admin_page .select_container{
        width: 100%;
        max-width: 100%;
    }
    .admin_page input[type=radio]:checked + label:before{
        line-height: 16px;
    }
    .admin_page .input_container label{
        margin-left: 30px;
    }
}


/* payment method */
.payment.admin_page h1{
    margin-bottom: 55px;
}
.admin_page.payment.shipping .container,
.admin_page.payment.billing .container{
    max-width: 690px;
}
.payment.admin_page .pay_paypal{
    padding-top: 15px;
    padding-bottom: 15px;
    background: #f6f6f6;
    margin-top: -15px;
}
.payment.admin_page .pay_paypal p{
    font-family: "Quicksand";
    font-size: 16px;
    text-align: center;
}
.payment.admin_page .pay_paypal img{
    display: inline-block;
    max-width: 70px;
    vertical-align: middle;
    left: 5px;
}
.payment.admin_page .or{
    font-family: "Quicksand";
    text-align: center;
    text-transform: uppercase;
}
.payment.admin_page .pay_card p.pay{
    font-family: "Quicksand";
    text-align: center;
    margin-bottom: 40px;
}
.payment.admin_page .pay_card .row{
    margin-left: -8px;
    margin-right: -8px;
}
.payment.admin_page .pay_card .row .col-6{
    padding-left: 8px;
    padding-right: 8px;
}

.payment.admin_page .pay_card .we_accept p{
    font-size: 14px;
    color: #a0a0a0;
    text-align: center;
    margin-bottom: 10px;
}
.payment.admin_page .pay_card .we_accept img{
    display: inline-block;
    vertical-align: middle;
    max-height: 19px;
    margin: 0 6px;
}
.payment.admin_page .pay_card .we_accept img:first-of-type{
    margin-left: 0;
}.payment.admin_page .pay_card .we_accept img.visa{
    max-width: 32px;
}
.payment.admin_page .pay_card .we_accept img:last-of-type{
    margin-right: 0;
}
.payment.admin_page .pay_card .btn{
    width: 270px;
    max-width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
}
@media(max-width: 767px){
    .payment.admin_page h1{
        margin-bottom: 35px;
    }
    .payment.admin_page .pay_paypal{
        margin-bottom: 16px;
    }
    .payment.admin_page .or{
        margin-bottom: 16px;
    }
    .payment.admin_page .pay_card .btn{
        width: 100%;
    }
}

/* activeted sim*/
.activated_sim{
    padding-top: 50px;
}

.activated_sim .input_container{
    margin: 0 auto 40px;
}
@media (max-width: 767px){
    .activated_sim{
        padding-top: 35px;
    }
}


/* map page */
.map_page #map{
    position: relative;
    height: calc(100vh - 56px);
    width: 100%;
    background: blue;
}
.map_page .search_container{
    position: absolute;
    top: 25px;
    left: 20px;
    width: 350px;
}
.map_page .search{
    padding-left: 35px;
    background: #fff;
}

.map_page .search input{
    line-height: 55px;
    background: #fff;
    width: 100%;
    padding: 0 15px;
    font-size: 16px;
    padding-right: 30px;
    border: none;
}

.map_page .search_results{
    display: none;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.map_page .search_results ul li{
    line-height: 40px;
    font-size: 14px;
    padding-left: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.map_page .search_results ul li:hover{
    background: #eee;
    transition: 0.4s;
    cursor: pointer;
}
.map_page .search_results ul li:last-of-type{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.map_page .search_results ul li span{
    color: rgba(0, 0, 0, 0.38);
}
.map_page .search .search_icon{
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 16px;
}
.map_page .search .close_icon{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 20px;
}

.map_page .search p.change{
    display: none;
    position: absolute;
    top: 20px;
    right: 15px;
    font-family: "Quicksand";
    font-size: 16px;
    color: #e94044;
    cursor: pointer;
}
.map_page .selected_area{
    display: none;
}
.map_page .selected_area .box{
    margin-top: 3px;
    padding: 16px;
    background: #fff;
    -webkit-clip-path: polygon(2% 0, 98% 0, 100% 2%, 100% 98%, 98% 100%, 2% 100%, 0 98%, 0 2%);
    clip-path: polygon(2% 0, 98% 0, 100% 2%, 100% 98%, 98% 100%, 2% 100%, 0 98%, 0 2%);
}
.map_page .selected_area .box p.city{
    font-family: "Quicksand";
    font-size: 16px;
    margin-bottom: 5px;
}
.map_page .selected_area .box p.province{
    font-size: 14px;
    margin-bottom: 15px;
}
.map_page .selected_area .box img{
    margin-bottom: 20px;
    max-width: 70px;
}
.map_page .selected_area .box .signal{
    padding: 10px 15px;
    background: #f2f2f2;
    margin-bottom: 22px;
}
.map_page .selected_area .box .signal p.signal_p{
    font-family: "OpenSans semibold";
    margin-bottom: 5px;
}
.map_page .selected_area .box .signal p.text{
    font-size: 14px;
}
.map_page .selected_area .box p.support{
    margin-bottom: 15px;
}
.map_page .selected_area .box p.support span{
    display: inline-block;
    vertical-align: bottom;
    width: 95px;
    font-family: "OpenSans semibold";
    font-size: 14px;
    color: #6a6a6a;
}
.map_page .selected_area .box p.support span.black{
    font-family: "OpenSans semibold";
    font-size: 14px;
    color: #222;
}
.map_page .coverage_bar_container{
    position: absolute;
    top: 35px;
    right: 20px;
}
.map_page .coverage_bar{
    padding: 5px 10px;
    padding-bottom: 7px;
    background: #fff;
    -webkit-clip-path: polygon(2% 0, 98% 1%, 100% 20%, 100% 81%, 98% 100%, 2% 100%, 0 82%, 0 20%);
    clip-path: polygon(2% 0, 98% 1%, 100% 20%, 100% 81%, 98% 100%, 2% 100%, 0 82%, 0 20%);
}
.map_page .coverage_bar p{
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
    vertical-align: middle;
}
.map_page .coverage_bar .color{
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    width: 18px;
    height: 5px;
}
.map_page .coverage_bar .color.grey{
    background: #d3d3d3;
}
.map_page .coverage_bar .color.orange{
    background: #ff9e2f;
}
.map_page .coverage_bar .color.blue{
    background: #1785f2;
    margin-right: 0;
}

/* help topics */
.help_topics{
    padding-top: 50px;
    padding-bottom: 50px;
}
.help_topics .topic_navigation h3{
    font-family: "Quicksand";
    font-size: 24px;
    margin-bottom: 43px;
    text-align: left;
    margin-top: 25px;
}
.help_topics .topic_navigation h5{
    font-family: "Quicksand";
    font-size: 20px;
    margin-bottom: 15px;
    color: #222;
    text-align: left;
}
.help_topics .topic_navigation ul{
    margin-bottom: 30px;
}
.help_topics .topic_navigation ul li{
    position: relative;
    line-height: 38px;
    padding-left: 10px;
    font-family: "OpenSans semibold";
    font-size: 16px;
    color: #e94044;
}
.help_topics .topic_navigation ul li.active:before,
.help_topics .topic_navigation ul li:hover:before{
    content: "";
    position: absolute;
    height: 38px;
    left: -10px;
    top: 0;
    width: 3px;
    background: #e94044;
}

.help_topics .answers h1{
    color: #222;
    margin-bottom: 15px;
}
.help_topics .answers .questions{
    padding-top: 0;
}
.help_topics .mob_filter{
    display: none;
}
.help_topics.admin_page p.all_plans{
    display: none;
}
@media (max-width: 767px){
    .help_topics{
        padding-top: 5px;
    }
    .help_topics .topic_navigation ul:last-of-type{
        margin-bottom: 0;
    }
    .help_topics .mob_filter{
        display: block;
    }
    .help_topics.admin_page p.all_plans{
        display: block;
    }
    .help_topics .coverage .questions .info{
        border-bottom: 1px solid #d1d1d1;
    }
    .help_topics .coverage .questions .info .title{
        box-shadow: none;
    }
    .help_topics .coverage .questions .mob_filter .info .title{
        border-bottom: 1px solid #d1d1d1; 
    }
    .help_topics .coverage .questions .info .content{
        padding: 15px;
        box-shadow: none;
        background: #fff;
    }
    .help_topics .container{
        padding-left: 0;
        padding-right: 0;
    }
}

/* guest billing */
.guest_billing.shipping .input_container,
.guest_billing.shipping .select_container,
.guest_billing.billing .input_container,
.guest_billing.billing .select_container{
    margin: 0 auto 35px;
}
.guest_billing.shipping h1,
.guest_billing.billing h1{
    margin-bottom: 45px;
}
.guest_billing.shipping.admin_page p.underheader_2,
.guest_billing.billing.admin_page p.underheader_2{
    margin-bottom: 35px;
}

/*footer */
.footer{
    padding-top: 35px;
    padding-bottom: 15px;
    border-top: 1px solid #ccc;
}
.footer .logo{
    max-width: 170px;
    margin-bottom: 15px;
}
.footer p.copy{
    font-size: 10px;
    line-height: 1.5;
    color: #666;
}
.footer ul{
    margin-top: 22px;
    text-align: right;
}
.footer ul li{
    font-family: "OpenSans semibold";
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    margin: 0 27px;
    color: #e94044;
}
.footer ul li.hide_desk{
    display: none;
}
.footer .social{
    margin-top: 20px;
}
.footer .social img{
    margin: 0 12px;
}
@media (max-width: 1200px){
    .footer .social img{
        margin: 0 10px;
    }
}
@media (max-width: 767px){
    .footer ul{
        text-align: left;
    }
    .footer ul li{
        margin-bottom: 20px;
    }
    .footer .social.desk{
        display: none;
    }
    .footer .social.mob{
        margin-top: 0;
    }
    .footer ul li.hide_desk{
        display: inline-block;
    }
    .footer .social.mob img{
        margin: 0 15px;
    }
}